.dashboard {
  background: white;
  position: relative;
  padding: 0.5rem;
}

.name {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background: #bbb;
  font-size: 1.6rem;
}

.editDashboardButton {
  cursor: pointer;
  background: rgb(178, 230, 183);
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px white;
}

.editDashboardButton:hover {
  border: solid 1px black;
}

.userName {
  padding: 0.5rem;
  background: #ddd;
}

.userStatus {
  display: flex;
  justify-content: end;
}

.userStatusButtons {
  display: flex;
}

.userStatusButton {
  cursor: pointer;
  background: #aaa;
  width: max-content;
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: 5px;
  border: solid 1px white;
}

.userStatusButton:hover {
  border: solid 1px black;
}