.dashboard {
  background: white;
  position: relative;
  padding: 0.5rem;
}

.name {
  display: flex;
  justify-content: space-between;
  background: green;
  font-size: 1.6rem;
}

.userName {
  background: red;
}

.userStatus {
  display: flex;
  justify-content: end;
}

.userStatusButtons {
  display: flex;
}

.userStatusButton {
  background: #aaa;
  width: max-content;
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: 5px;
}