.file {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fileTextInput {
  background: rgb(221, 241, 223);
  font-size: 1rem;
  padding: 5px;
  font-family: 'Comfortaa';
  width: calc(100% - 10px);
  height: calc(100% - 40px);
  border: none;
}

.fileSaveButton {
  cursor: pointer;
  background: #ddd;
  width: calc(100% - 4px);
  height: 20px;
  text-align: center;
  padding: 1px 0;
  border: solid 1px #ddd;
  margin: 1px 1px;
}