.comments {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column-reverse;
  bottom: 160px;
  width: calc(100% - 32px);
  height: calc(100% - 240px);
  padding: 1rem;
  border-radius: 1rem;
  background: #ddd;
}

.commentsHistory {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 40px);
  -ms-scroll-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}

.commentsHistory::-webkit-scrollbar {
  display: none;
}