.shelf {
  height: 39px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  -ms-scroll-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
  border-top: 1px solid white;
}

.shelf::-webkit-scrollbar {
  display: none;
}