@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "Comfortaa"; 
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  background: white;
  color: #000;
  border: 1px #000 solid;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.2rem;
}

.btn:hover {
  color: green;
  border-color: green;
}