.tree{
  margin-top: 40px;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 40px);
}

.reflex-splitter {
  height: 10px!important;
  
}
.reflex-splitter:hover {
  background: rgb(134, 218, 134)!important;
  transition: 0.6s!important;
}